/* App.css */

.App-Container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #bdb96a;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.App-Container h1 {
  padding: 15px;
  margin-bottom: 30px;
  color: #333;
  border-radius: 8px;
}

.App-Container h3 {
  margin-top: 40px;
  padding: 10px;
  color: #555;
  background-color: #eaeaea;
  border-top: 1px solid #ccc;
  border-radius: 4px;
}
